<h1><%= @station.name %></h1>
<ul>
  <% @station.shows.each do |show| %>
    <li><%= link_to show.title, show_path(show) %> - <%= show.channel.name %></li>
  <% end %>
</ul>
<button>Edit Station Name</button>
<button>Shut Down Station</button>
