<h1>Create a New Show</h1>
  <% if @show.errors.any? %>
    <ul>
    <% @show.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>

<%= form_for(@show) do |f| %>

  <%= render partial: "form", locals: {@show: show, f: f} %>

  <%= render partial: "listings/form", locals: {@listings: listings, f: f} %>

<% end %>
